h1{
    text-align: center;
    color: #692095;
}

.QLHS_img{
    position: relative;

}
.edit_AnhCongty{
    position: absolute;
    color: red;
}
.QLHS_header{
   padding-left: 10px;

    border-left: 3px solid #692095;
    text-decoration: black;
}
.QLHS_table{
    margin:auto;
    border:1px solid red;
    background: #ddd;
    width: 500px;
    text-align:center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.QLHS_submit{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
	
}
.submit{
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.submit:hover{
   background: red;
}

.QLHS_AnhCongTy{
    width: 100%;
}
.QLHS_TenCty{
    width:370px;
    margin-bottom:10px;
    margin-top:10px;
}
.QLHS_submit_UpdateCongViec{
	margin-top:480px;
	width:100px;
	height:30px;
	margin-left:100px;
}
.btn_QLHS_update{
	
	margin-top:10px;
	height: 44px;
	width: 126px; 
	background-color: rgb(164, 220, 136);
}
.btn_QLHS_update:hover{
	background-color: rgb(164, 172, 136);
	
}
.QLHS_thongtin{
	margin-bottom: 70px;
}

.suacongviec_updatecongviec{
	margin:auto;
	margin-top: 15px;
	height: 40px;
	width: 120px;
	background-color: #62a099;
}
.suacongviec_updatecongviec:hover{
	
	height: 45px;
	width: 125px;
	background-color: #799e87;
}




