.imga{
	margin-top: 50px;
}

.a{
	border: 1px solid #ddd;
	position: relative;
}
.a:hover{
	
}
.tencongty{
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 130px;
}
.back-gr{
	height: 300px;
	width: 100% ;
}
.form_chung:hover{
	border: 3px solid #ddd;
}
.phantrang{
	
	text-align:center;
}