.FDT_container{
	border:1px solid red;
	margin-top:20px;
	margin-bottom:20px;
	padding: 20px;
	background-color: #ddd;
}
.FDT_form_text{
    width: 424px;
    margin-bottom: 5px;
}

.FDT_dang_tin{
    margin-top:10px;
    margin-bottom: 10px;
}

.FDT_table{
    margin-left: auto;
    margin-right: auto;
}

.FDT_ten_cv{
    margin-top:10px;
    margin-bottom: 10px;
}

.FTD_up_img{
    margin-top:10px;
}

.FDT_submit{
	margin:auto;
	margin-left: 500px;
	margin-top: 20px;
}
.FDT_submit:hover{
	background: orange;
}
.combo_box{
    height:30px;
}