.header_CongTy{
	margin-top: 20px;
}
.Anhheadder{
	padding-top: 20px;
	width:100%; height:500px;
}
.Profile{
	border: 1px solid #ddd;
	width: 90%; height:200px;
}
.congviec_full{
	margin-top: 30px;
}
.congviec_thongtin{
	font-size: 30px;
	border: 1px solid #ddd;
	padding-bottom: 30px;
}
.aaa{
	height:50px;
	width: 130px;
	margin-left:200px;
	margin: auto;
	
}
.aaa:hover{
	height:60px;
	width: 150px;
	margin-left:200px;
	margin: auto;
	background:#ecc371;
}